In [173]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [174]:
datos = pd.read_csv('D:\Facultad\SIS 420\DataSet\hotel_bookings.csv')
datos.head()
datos.shape

(119390, 32)

In [175]:
datos['hotel']=datos['hotel'].astype('category')
datos['hotel']=datos['hotel'].cat.codes

datos['arrival_date_month']=datos['arrival_date_month'].astype('category')
datos['arrival_date_month']=datos['arrival_date_month'].cat.codes

datos['reservation_status']=datos['reservation_status'].astype('category')
datos['reservation_status']=datos['reservation_status'].cat.codes

datos['deposit_type']=datos['deposit_type'].astype('category')
datos['deposit_type']=datos['deposit_type'].cat.codes

datos['customer_type']=datos['customer_type'].astype('category')
datos['customer_type']=datos['customer_type'].cat.codes

datos['customer_type']=datos['customer_type'].astype('category')
datos['customer_type']=datos['customer_type'].cat.codes

In [176]:
datos.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,1,0,342,2015,5,27,1,0,0,2,...,0,NaN,NaN,0,2,0.0,0,0,1,2015-07-01
1,1,0,737,2015,5,27,1,0,0,2,...,0,NaN,NaN,0,2,0.0,0,0,1,2015-07-01
2,1,0,7,2015,5,27,1,0,1,1,...,0,NaN,NaN,0,2,75.0,0,0,1,2015-07-02
3,1,0,13,2015,5,27,1,0,1,1,...,0,304.0,NaN,0,2,75.0,0,0,1,2015-07-02
4,1,0,14,2015,5,27,1,0,2,2,...,0,240.0,NaN,0,2,98.0,0,1,1,2015-07-03

In [177]:
datos.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,1,0,342,2015,5,27,1,0,0,2,...,0,NaN,NaN,0,2,0.0,0,0,1,2015-07-01
1,1,0,737,2015,5,27,1,0,0,2,...,0,NaN,NaN,0,2,0.0,0,0,1,2015-07-01
2,1,0,7,2015,5,27,1,0,1,1,...,0,NaN,NaN,0,2,75.0,0,0,1,2015-07-02
3,1,0,13,2015,5,27,1,0,1,1,...,0,304.0,NaN,0,2,75.0,0,0,1,2015-07-02
4,1,0,14,2015,5,27,1,0,2,2,...,0,240.0,NaN,0,2,98.0,0,1,1,2015-07-03

In [179]:
datos.corr()['reservation_status']

hotel                             0.124331
is_canceled                      -0.917196
lead_time                        -0.302175
arrival_date_year                -0.017683
arrival_date_month               -0.001611
arrival_date_week_number         -0.017387
arrival_date_day_of_month         0.011460
stays_in_weekend_nights           0.008558
stays_in_week_nights             -0.021607
adults                           -0.071802
children                         -0.003411
babies                            0.030971
is_repeated_guest                 0.083504
previous_cancellations           -0.110758
previous_bookings_not_canceled    0.055051
booking_changes                   0.140799
deposit_type                     -0.466185
agent                             0.076152
company                           0.007282
days_in_waiting_list             -0.057927
customer_type                     0.066004
adr                              -0.050520
required_car_parking_spaces       0.179310
total_of_special_requests         0.225674
reservation_status                1.000000
Name: reservation_status, dtype: float64

In [180]:
datos=datos.drop(['total_of_special_requests', 'required_car_parking_spaces', 'adr','days_in_waiting_list','company','agent','booking_changes','previous_bookings_not_canceled','previous_cancellations','is_repeated_guest','meal','country','market_segment','distribution_channel','reserved_room_type','assigned_room_type','children','reservation_status_date'], axis=1)

In [181]:
datos.isnull().sum()

hotel                        0
is_canceled                  0
lead_time                    0
arrival_date_year            0
arrival_date_month           0
arrival_date_week_number     0
arrival_date_day_of_month    0
stays_in_weekend_nights      0
stays_in_week_nights         0
adults                       0
babies                       0
deposit_type                 0
customer_type                0
reservation_status           0
dtype: int64

In [183]:
X=datos.drop(columns='reservation_status')

In [185]:
y=datos['reservation_status']

In [186]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [187]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression();

In [188]:
lr.fit(X_train,y_train)

LinearRegression()

In [189]:
#punto de intersection

c=lr.intercept_
print(c)

17.316458391898802

In [190]:
#vista de coeficientes
m=lr.coef_
print(m)

[-9.42725515e-03 -9.19841577e-01 -1.06150701e-04 -8.07537522e-03
  1.87006451e-04 -5.24557560e-04  3.79297654e-04  3.61395019e-03
  4.30819292e-04 -1.27710616e-02  4.57197930e-03 -6.09621012e-02
  1.48255885e-03]

In [191]:
y_pred_train=lr.predict(X_train)

In [192]:
y_pred_train

array([0.98616242, 1.00428586, 0.99669935, ..., 1.01226755, 1.00131486,
       0.02794723])

In [194]:
#verificamos la puntuacion de la prediccion
from sklearn.metrics import r2_score

In [195]:
r2_score(y_train,y_pred_train)

0.8471961735334461

In [196]:
y_pred_test=lr.predict(X_test)

In [198]:
r2_score(y_test,y_pred_test)

0.8368481291913695